html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Work Sans", sans-serif;
  color: var(--default-texr-grey);
  font-weight: 500;
  background-color: var(--bg-color);
  /* background-image: :; */
}
:root {
  --light-blue: #4b8bced6;
  --default-texr-grey: #6f6d6d;
  --bg-color: #d8d8d8;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: center;
  gap: 10px;
}

.accordion-container {
  display: flex;
}
.accordion-container div {
  margin-right: 3px;
}
.nav-section {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  align-self: start;
}
.nav-section li:hover {
  color: aqua;
}
/* Navbar css 
option2  https://codepen.io/esse/pen/qxmqPQ*/
/* title styles */
.nav-item span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  visibility: visible;
}

.nav-item span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.nav-item span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.nav-item span:nth-of-type(1)::before,
.nav-item span:nth-of-type(1)::after {
  animation-delay: 0.2s;
}

.nav-item span:nth-of-type(2)::before,
.nav-item span:nth-of-type(2)::after {
  animation-delay: 0.7s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
/* Mobile view */
@media (max-width: 680px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .accordion-container {
    display: block;
  }

  /* .article {
    margin-bottom: 2em;
  } */
}
