html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Work Sans", sans-serif;
  color: var(--default-texr-grey);
  font-weight: 500;
}
:root {
  --light-blue: #4b8bced6;
  --default-texr-grey: #6f6d6d;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr;s */
  justify-items: center;
  gap: 10px;
}

.accordion-container {
  display: flex;
}
.accordion-container div {
  margin-right: 3px;
}
/* Monile view */
@media (max-width: 680px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .accordion-container {
    display: block;
  }

  /* .article {
    margin-bottom: 2em;
  } */
}
